doctype html
html(lang="en")
	head
		title='#livestronk'
		link(rel='stylesheet', href='home.css')
	body
		audio(src='/helipad2.mp3', autoplay, loop)
		img#kong(src='/kong.jpg')
		div#notice
			h1
				"UNDER KONGSTRUCTION"
