body {
	background: #454545;
	margin: 0;
	padding: 0;
}

div#center {
	position: fixed;
	background-color: #202020;
	margin-left: auto;
	padding: 1em;
	width: 80%;
	left: 50%;
	margin-left: -40%;
	color: #dddddd;
}
